/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Define CSS Variables in :root */
:root {
    --primary-color: #2C3E50;
    --secondary-color: #18BC9C;
    --accent-color: #E74C3C;
    --background-color: #ECF0F1;
    --text-color: #2C3E50;
    --heading-font: 'Roboto', sans-serif;
    --body-font: 'Roboto', sans-serif;
}

/* General Styles */
body {
    font-family: var(--body-font);
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    max-width: 1200px;
    /* Limiting the width of the page */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* Paragraphs */
p {
    color: var(--text-color);
    line-height: 1.6;
}

/* Links */
a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Social Media Links */
.social-media a {
    text-decoration: none;
    color: var(--secondary-color);
}

.social-media a:hover {
    text-decoration: underline;
}

.hero{
    position: relative;
    clear: both;
    height: 350px;
    grid-gap: 10px;
    text-align: center;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
}

.hero h1 {
    text-align: center;
    color: #fff;
    background-color: #2C3E50;
    opacity: 0.8;
    font-size: 2rem;
    display: inline-block;

}

.hero article {
    background-color: #2C3E50;
    opacity: 0.8;
    display: grid;
    margin: 1.5rem;
    text-align: left;
    font-size: 20px;
}
.hero article img {
    width: 15%;
    height: auto;
    margin: 0 0 0 1rem;
    float: right;
    position: relative;
}
.hero article p{
    color: #fff;
    margin: 1rem;
}
.history{
    clear: both;
    margin: 20px auto;
    border: #ccc1c1ca solid 1px;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
.history h2{
    text-align: center;
    grid-column: 1/ span 3;
}
.history p{

    margin: 1rem;
}
.history img{
    max-width: 400px;
    margin: 1rem;
}
.pictures{
    clear: both;
    margin: 20px auto;
    border: #ccc1c1ca solid 1px;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
}
.pictures h2 {
    text-align: center;
    grid-column: 1/ span 5;
}

.pictures p {

    margin: 1rem;
}

.pictures img {
    margin: 1rem;
    max-width: 200px;
    max-height: 150px;
}

.pictures figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}


.pictures figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}
.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

h1 {
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
}

nav {
    text-align: right;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 90px;
    height: auto;
    margin: -25px 0 0 0;
}

h1 {
    font-size: 1.2rem;
    font-family: Acme, Arial, sans-serif;
}

nav {
    text-align: right;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}
footer {
    clear: both;
    margin: 20px auto;
    border: #ccc1c1ca solid 1px;
    background-color: #555555;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
}
footer p {
    margin: 1rem;
    color: whitesmoke;
    grid-column: 1/ span 4;
    text-align: center;
}

footer img {
    margin: 1rem;
    max-width: 50px;
    max-height: 50px;
    color:#fff;
}
.employees {
    clear: both;
    margin: 20px auto;
    border: #ccc1c1ca solid 1px;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding-bottom: 2rem;
}

.employees h2 {
    text-align: left;
    grid-column: 1/ span 3;
    margin-left: 1rem ;
}

.employees p {

    margin: 1rem;
}

.employees img {
    margin: 1rem;
    max-width: 200px;
    max-height: 150px;
}

.employees figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}


.employees figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.officeinfo {
    clear: both;
    margin: 20px auto;
    border: #ccc1c1ca solid 1px;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding-bottom: 2rem;
}

.officeinfo h2 {
    text-align: left;
    grid-column: 1/ span 3;
    margin-left: 1rem;
}
.officeinfo h3 {
    text-align: left;
    grid-column: 1/ span 3;
    margin-left: 1rem;
}
.officeinfo p {

    margin: 1rem;
}
.officeinfo b {

    margin: 1rem;
}
.officeinfo span {

    margin: 0 6rem;
}
.officeinfo iframe {

    border: 0px;
}
.officeinfo img {
    margin: 1rem;
    max-width: 200px;
    max-height: 150px;
}

.contactus {
    clear: both;
    margin: 20px auto;
    border: #ccc1c1ca solid 1px;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding-bottom: 2rem;
    background-color: #8b8888;
}

.contactus h2 {
    text-align: center;
    grid-column: 1/ span 3;
    margin-left: 1rem;
}
.contactus form {
    grid-column: 1/ span 3;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background: #8b8888;
    padding: 20px;
    /* border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: inline;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #747a75;
}
.herocontact {
    position: relative;
    clear: both;
    grid-gap: 10px;
    text-align: center;
}
.herocontact h1 {
    text-align: center;
    color: #2C3E50;
    opacity: 0.8;
    font-size: 2rem;
    display: inline-block;

}
.btn-call2action{
    width: 200px;
    background-color: red;
    font-size: x-large;
    font-weight: bold;
    display: grid;
    margin: 1.5rem;
    text-align: center;
    position: relative;
    margin: 17rem 0 0 57rem;
    color: #000000;
    text-decoration: none;
}
.btn-call2action a{

    color: #fff;
    text-decoration: none;
}
.btn-call2action:hover{
    background-color: #2C3E50;
}

.middle-content {
    clear: both;
    margin: 20px auto;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin-top: 15rem;
}

.middle-content h2 {
    text-align: center;
    grid-column: 1/ span 3;
}

.middle-content p {

    margin: 1rem;
}

.middle-content img {
    margin: 1rem;

}

.middle-content figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 320px;
    margin: auto;
    text-align: center;
}


.pictures figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
.newsletter{
    background-color: #2C3E50;
    padding: 3rem 1rem;
}
.newsletter img{
    margin: 1rem;
    width: 94%;
}
.newsletter article {
    background-color: #C7D4BA;
    display: grid;
    margin: -20rem 0px 0px 57rem;
    text-align: left;
    font-size: 20px;
    position: absolute;
    padding: .5rem 1rem;
}

.newsletter article img {
    width: 15%;
    height: auto;
    margin: 0 0 0 1rem;
    float: right;
    position: relative;
}

.newsletter article p {
    color: #2C3E50;
    margin: 1rem;
}
.newsletter form {
    background: none;
    margin: 0 auto;
    padding: 0;
    
    /* border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.adventures {
    clear: both;
    margin: 20px auto;
    border: #ccc1c1ca solid 1px;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    grid-gap: 0px;
}
.adventures article {
   max-width: 30%;
   margin: 1rem;
}

.adventures h2 {
    text-align: center;
    grid-column: 1/ span 2;
}

.adventures p {
    margin: .2rem;
}

.adventures img {
    margin: 1rem;
    max-width: 500px;
    max-height: 250px;
}

.adventures figure {
    display: flex;
    padding: 5px;
    max-width: 1024px;
    grid-column: 1/ span 2;
    margin: 2rem 0 0 6rem;
}


.adventures figcaption {
    background-color: #C7D4BA;
    color: #2C3E50;
    padding: 3px;
    text-align:left;
    width: 70%;
    margin: 1rem;
}
.adventures figcaption b{
    text-align: center;
}
.fig_adv_left{
    flex-flow: row;
}
.fig_adv_right {
    flex-flow: row-reverse;

}
.btn-call2action-trips {
    width: 200px;
    background-color: black;
    font-size: x-large;
    font-weight: bold;
    display: grid;
    text-align: center;
    position: relative;
    color: #000000;
    text-decoration: none;
    margin: 3rem 0 0 22rem;
}

.btn-call2action-trips a {

    color: #fff;
    text-decoration: none;
}

.btn-call2action-trips:hover {
    background-color: #2C3E50;
}